<div class="title-group">
  <h1 class="mat-h1">Add Student</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="fit" style="height: 500px;" gutterSize="10px">
    <mat-grid-tile>
      <mat-card>
        <mat-form-field>
          <input matInput  placeholder="$key">
          <mat-error>
            El campo<strong>cedula</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="idEstudiante"  placeholder="Id Estudiante">
          <mat-error>
            El campo<strong>id estudiante</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput (keyup)="onKey($event)" [(ngModel)]="cedulaBuscar.cedula" placeholder="Cedula" >
          <mat-error>
            El campo<strong>cedula</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Nombre" value="{{person.nombre}}" disabled>
            <mat-error>
              El campo<strong>Nombre</strong> es <strong>necesario</strong>
            </mat-error>
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="apellido" disabled>
          <mat-error>
            El campo<strong>apellido</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="direccion">
          <mat-error>
            El campo<strong>direccion</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-label>Genero: </mat-label>
        <br>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="M">Masculino</mat-radio-button>
          <mat-radio-button value="F">Femenino</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <input matInput placeholder="fecha">
          <mat-error>
            El campo<strong>fecha</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="fecha completa de nacimiento del estudiante">
          <mat-error>
            El campo<strong>fecha completa del estudiante</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado">
          <mat-error>
            El campo<strong>Estado</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <button mat-fab color="primary" >Add</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 2---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">group 2</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-form-field>
    <input matInput formControlName="grupoSanguineo" placeholder="Grupo Sanguineo">
    <mat-error>
      El campo<strong>Grupo Sanguineo</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Antecedentes">
    <mat-error>
      El campo<strong>Antecedentes</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Motivo Consulta">
    <mat-error>
      El campo<strong>Motivo Consulta</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enfermedad Actual">
    <mat-error>
      El campo<strong>Enfermedad Actual</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 3---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">Signos Vitales</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-form-field>
    <input matInput placeholder="Presion">
    <mat-error>
      El campo<strong>Presion</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Temperatura">
    <mat-error>
      El campo<strong>Temperatura</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Saturacion De oxigeno">
    <mat-error>
      El campo<strong>Saturacion De oxigeno</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="peso">
    <mat-error>
      El campo<strong>Peso</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Talla">
    <mat-error>
      El campo<strong>talla</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 4---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">Examen Fisico</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-label><h6>Ubicacion de Daño</h6></mat-label>
  <br>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="cabeza">Cabeza</mat-radio-button>
    <mat-radio-button value="tronco">Tronco</mat-radio-button>
    <mat-radio-button value="extremidades">Extremidades</mat-radio-button>
  </mat-radio-group>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 4---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">Cie 10</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-form-field>
    <input matInput placeholder="idCie10">
    <mat-error>
      El campo<strong>Cie</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Codigo">
    <mat-error>
      El campo<strong>Codigo</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Descripcion">
    <mat-error>
      El campo<strong>Descripcion</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tratamineto</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5">
      </textarea>
    <mat-error>
      El campo<strong>Tratamineto</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Seguimiento</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5">
        </textarea>
    <mat-error>
      El campo<strong>Seguimiento</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Observaciones</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5">
          </textarea>
    <mat-error>
      El campo<strong>Observaciones</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <div class="row p-5">
      <button class="border-left-5" mat-fab color="primary" type="submit" [disabled]="form.invalid">Submit</button>
      <button class="border-5" mat-fab color="warn">Clear</button>
  </div>
</form>