<div id="pdfDatos">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">fecha</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Last</th>
                        <th scope="col">Last</th>
                        <th scope="col">Last</th>
                        <th scope="col">Last</th>
                        <th scope="col">Last</th>
                        <th scope="col">Last</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arreglo">
                        <td>{{item.fechaCreacion}}</td>
                        <td>{{item.cedula}}</td>
                        <td>{{item.codigo}}</td>
                        <td>{{item.grupoSanguineo}}</td>
                        <td>{{item.grupoSanguineo}}</td>
                        <td>{{item.grupoSanguineo}}</td>
                        <td>{{item.grupoSanguineo}}</td>
                        <td>{{item.grupoSanguineo}}</td>
                        <td>{{item.grupoSanguineo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button class="btn btn-primary " (click)="showPdf()">pdf</button>